---
title: Purchase CANWork
heading: Let CANWork work for you!
description: These are the options you have available to purchase.

product_table:
  - name: CANWork
    color: "#225560"
    features:
      - text: $25 per month
        highlight: true
      - text: Up to 5 users
        highlight: false
      - text: Basic lead scoring
        highlight: false
      - text: CRM
        highlight: false
      - text: Basic reporting
        highlight: false
      - text: Sales map
        highlight: false
    call_to_action:
      link: http://paypal.com?insert=static=link=here
      text: Buy now!
  - name: CANWork with Case
    color: "#F0803C"
    features:
      - text: $99 per month
        highlight: true
      - text: Everything in Basic
        highlight: false
      - text: Up to 25 users
        highlight: false
      - text: Advanced lead scoring
        highlight: false
      - text: Pipeline management
        highlight: false
      - text: Advanced reporting
        highlight: false
    call_to_action:
      link: http://paypal.com?insert=static=link=here
      text: Buy now!
  - name: CANWork
    color: "#225560"
    features:
      - text: $25 per month
        highlight: true
      - text: Up to 5 users
        highlight: false
      - text: Basic lead scoring
        highlight: false
      - text: CRM
        highlight: false
      - text: Basic reporting
        highlight: false
      - text: Sales map
        highlight: false
    call_to_action:
      link: http://paypal.com?insert=static=link=here
      text: Buy now!

faq:
  - question: What types of payment do you accept?
    answer: PayPal.  That's it.  Yeah, we're not huge fans either but it works for a lot of customers.
  - question: Why does this cost what it does compared to other solutions?
    answer: Because it's our product, we think it's worth it, and we think you will to.
  - question: Why are you so snarky?
    answer: I was raised on a diet of sarcasm and wit.
  - question: Do you offer any educational pricing?
    answer: No but if you're an FRC team then we can send you a special FRC invoice.
  - question: I've got an esoteric support question you haven't answered here.
    answer: Send everything else here: <a href="#">mailto:support@canwork.dev</a>.
---
<div class="products">
	{% for product in page.product_table %}
		<ul class="product">
			<li style="background: {{ product.color }}">
				<h3>{{ product.name }}</h3>
			</li>
			{% for feature in product.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if product.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ product.color }}" href="{{ product.call_to_action.link }}">{{ product.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Product FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
