---
title: Purchase CANWork
heading: Purchase CANWork
description: Let CANWork work for you!
product_table: 
  - name: CANWork
    color: "#51af33"
    features:
      - text: $99
        highlight: true
      - text: USB-C Standard
        highlight: false
      - text: Built for professionals
        highlight: false
      - text: Choose your own connector
        highlight: false
      - text: TX/RX LEDs for Status
        highlight: false
      - text: Open Source Software
        highlight: false
    call_to_action:
      link: paypal.com
      text: Click Here To Buy One Now!
#  - name: CANWork with Case
#    color: "#F0803C"
#    features:
#      - text: $149
#        highlight: true
#      - text: Everything in Basic
#        highlight: false
#      - text: Comes with a case!
#        highlight: false
#      - text: Nylon and CF Reinforced
#        highlight: false
#      - text: Tested for endurance
#        highlight: false
#      - text: Hand built by robots
#        highlight: false
#    call_to_action:
#      link: paypal.com
#      text: Buy now!
faq:
  - question: What types of payment do you accept?
    answer: All payments are processed through Square.
  - question: Why does this cost what it does compared to other solutions?
    answer: Because it's our product, we think it's worth it, and we think you will to.
  - question: Why are you so snarky?
    answer: I was raised on a diet of sarcasm and wit.
  - question: Do you offer any educational pricing?
    answer: Not at this time but send us an email and we can talk about it.
  - question: I've got an esoteric purchasing question you haven't answered here.
    answer: Send everything else here <a href="#">support@canwork.dev</a>.
---
<div class="products">
	{% for product in page.product_table %}
		<ul class="product">
			<li style="background: {{ product.color }}">
				<h3>{{ product.name }}</h3>
			</li>
			{% for feature in product.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if product.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ product.color }}" href="{{ product.call_to_action.link }}">{{ product.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Product FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
